.food-blog {
  background-color: Moccasin;
  border: 3px solid black;
  border-radius: 15px;
  width: 750px;
  height: fit-content;
  padding: 20px;
}

.food-content {
  text-align: left;
  display: flex;
}

img {
  width: 250px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
